.guestList {
  list-style-type: none;
  width: 100%;
}
.guest {
  list-style-type: none;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
}
