.newGuestForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.submitBtn {
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkmagenta;
  color: white;
  padding: 0.7rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.textField {
  padding: 0.5rem;
}
.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
