body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(180, 80, 180);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23rem;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1 {
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
